body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.GGLogo{
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ModalButtons {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

