div .custom-card {
  width: 30%;
  display: inline-block;
  padding-left: 5%;
  padding-top: 5%;
}

div.navbar-collapse.collapse {
  padding: 2em 2em 0;
  transform: translateY(5%);
}

li[role="presentation"] a[role="button"] {
  padding-bottom: 0;
}

.GGLogo.header {
  transform: translateY(-34%);
}

.container {
  /* padding-top: 10%; */
  vertical-align: top;
}
.container1{
  padding-top: 25%;
}
.card-deck {
  align: top;
  padding-bottom: 20px;
}

.page-header{
  padding-bottom: 5%;
  background-color: #42914d;
}

.col-md-4{
  padding-bottom: 10%;
}
