.Jumbotron{
  /* background-color: rgba(0,0,0,0.5); */
  color: rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  margin-top: 20%;
  max-width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  max-height: 50%;
  /* background-image: url("../../assets/blur-cannabis-close-up-606506.jpg"); */
}

.Container{
  background-color: black;
  height: 50%;
}

#video-background {
  width: 100%;
  height: ;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}
